html {
    scroll-behavior: smooth;  //не поддерживается многими браузерами
    font-size: 16px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
      
}

.page {
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    background: url("../img/background/wood.jpg");
    background-color: #cc9;
    background-attachment: fixed;
}


.container {
    width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
      
}

