/**** Variables****/
@import url("https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic");
/**** Variables****/
.page {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/****Navigation Block*****/
.nav {
  background: #09c;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__link {
  display: block;
  padding: 20px 15px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.nav__link:hover {
  background: #0086b3;
}

.logo {
  height: 50px;
}

/****Main****/
.main {
  font-family: 'Lobster', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: url("../img/background/barnaul.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  border-top: 1px solid #333;
  /****People****/
}

.main__title {
  padding: 10px 10px;
  margin-bottom: 5px;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.main__subtitle {
  padding: 10px 10px;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.people {
  border-top: 1px solid #333;
  padding-top: 10px;
  background-color: #fff;
  background: url("../img/background/people.jpg") no-repeat center;
  background-size: cover;
}

.people__title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.people__title::before {
  content: "<< ";
  color: #fff;
}

.people__title::after {
  content: " >>";
  color: #fff;
}

.people__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.human-card {
  width: 256px;
  height: 256px;
  border: 1px solid #333;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.human-card:hover .human-card__link {
  opacity: 1;
}

.human-card:hover::after {
  opacity: 0.8;
}

.human-card::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 256px;
  width: 256px;
  background: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.human-card__link {
  font-family: 'Lobster', cursive;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  z-index: 5;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.human-article__title {
  padding: 10px 20px;
  width: 10%;
  margin: 20px 20px 0px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: red;
}

.human-article__description {
  padding: 20px;
  margin: 0 20px;
  clear: both;
  background-color: green;
}

.human-article__photo {
  float: left;
  padding-right: 10px;
}
/*# sourceMappingURL=style.css.map */