


@import 'reset';
@import 'common';
@import 'variables';
@import 'nav';
@import 'main';
@import 'human';

@import 'footer';
    




/**** People ****/
.people
  position: relative;

  padding-top: 10px;
  min-height: 70vh;

  background-color: #fff;
  background: url("../img/background/final.jpg") no-repeat center;
  background-size: cover;
  border-top: 1px solid #333;

  overflow: hidden;

  &__inner 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 10px 10px
    @media screen and (max-width: 1500px)
      justify-content: center;
    @media screen and (max-width: 500px)
      padding: 10px 50px
    @media screen and (max-width: 400px)
      padding: 10px 0
  &::before
    content: "";
    position: absolute;
    top: 500px;
    left: -160px;
    width: 255px;
    height: 300px;
    z-index: -2;

    background: url("../img/photography/photo1.png");
    @media screen and (max-width: 1500px)
      display: none;

  &::after
    content: "";
    position: absolute;
    top: 150px;
    right: -140px;
    width: 182px;
    height: 353px;
    z-index: -2;

    background: url("../img/photography/photo.png");
    @media screen and (max-width: 1500px)
      display: none;
    
  &__title
    position: relative;
  
    font-size: 1.8rem;
    text-align: center;
    color: $main-blue;

    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);


    
.human-article
  display: none;
  padding-bottom: 20px;
  &__title
    display: inline-block;
    margin: 20px 20px 0px 20px;
    padding: 10px 20px;

    font-size: 1.4rem;
    font-weight: normal;
    
    background-color: #a97;
    &-link
      color: #fff;
      text-decoration: none;
     
  &__description
    position: relative;

    margin: 0 20px;
    padding: 20px;
    clear: both;

    font-size: 1.2rem;
    line-height: 18px;

    background: url("../img/tiles/paper-small.jpg") repeat;
    border: 1px solid #333;

    @media screen and (max-width: 650px)
      margin: 0 10px;
      padding: 10px;

  &__photo
    float: left;
    padding-right: 10px;
    @media screen and (max-width: 460px)
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    
  
/********************************Service Classes /********************************
.content-show
  display: block;
  transform: translateX(0);
  animation-name: show_double;
  animation-duration: 1s;



/********************************Service Classes /********************************

@keyframes show_double
  0%
    transform: translateY(100%);
    opacity: 0;
  80%
    transform: translateY(-15px);
    opacity: 0.8;
  100%
    transform: translateY(0);
    opacity: 1;




/**** Attractions ****/ 
.attractions
  padding: 10px 20px;
  @media screen and (max-width: 650px)
    padding: 10px;

  background: url("../img/background/attractions.jpg") no-repeat center;
  background-size: cover;
  border-top: 1px solid #333;
  &__title
    position: relative;

    margin-bottom: 15px;
    
    font-size: 1.8rem;
    text-align: center;
    color: $main-blue;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    
  
.showplace
  display: flex;
  align-items: center;

  margin-bottom: 20px;
  padding: 20px;
  @media screen and (max-width: 650px)
    padding: 10px;


  background: url("../img/tiles/notepad-small.jpg") repeat;
  box-shadow: 0 0 10px rgba(0, 0 ,0, 1);

  @media screen and (max-width: 1200px)
    flex-direction: column;

  &__figure
    position: relative;
    
    margin: 20px;
    padding: 10px;

    background: url("../img/tiles/photopaper-small.jpg") repeat;
    border: 1px solid #777;
    border-radius: 5px;
    
    transition: 0.5s;
    transform: rotate(4deg);

    &:hover
      transform: rotate(0deg);


    @media screen and (max-width: 650px)
      width: 90%;
      height: auto;
    

  &__figure img
    @media screen and (max-width: 650px)
      width: 100%;
      height: auto;
        
  &__figcaption
    padding: 5px 10px;

    text-align: center;
  &__title
    font-weight: normal

  &__description
    line-height: 1.4rem;
    font-size: 1.2rem;
    
/********************************Service Classes /********************************/
.flex-order
  order: 1;
  @media screen and (max-width: 1200px)
    order: 0;

.rotate-4
  transform: rotate(-4deg);
  
/********************************Service Classes /********************************/

/****History Block ****/
.history
  padding: 10px;

  background: url("../img/background/history.jpg") no-repeat center;
  background-size: cover;
  border-top: 1px solid #333;

  overflow: auto;
  &__title
    font-size: 1.8rem;
    text-align: center;
    color: $main-blue;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  &__inner
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1500px)
      justify-content: center;

  &__photo
    position: relative;

    padding: 15px;
    margin: 10px;
    box-sizing: border-box;

    background: url("../img/tiles/paper2.jpg");
    border: 1px solid #333;

    overflow: hidden;
    overflow-y: auto;
    transition: transform 1.5s;
    &::after
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      background-color: #000;
      opacity: 0;

      transition: opacity 0.5s;
    &:hover::after,
    &:focus::after
      opacity: 0.8;
    &:hover .history__description,
    &:focus .history__description
      opacity: 1;
    @media screen and (max-width: 650px)
      width: 100%;
      height: auto;
  &__photo_fade-left
    transform: translateX(-150%);
  &__photo_fade-right
    transform: translateX(150%);

  &__photo img
    display: block;
    width: 100%;
    height: auto;

  &__description
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 2;

    display: flex;
    align-items: center;

    padding: 10px 15px;
    box-sizing: border-box;

    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    overflow: auto;

    opacity: 0;
    transition: opacity 0.5s;
    transform: translate(-50%, -50%);
  &__content
    margin: auto;
