/**** Variables****/
@import url("https://fonts.googleapis.com/css?family=Lobster&subset=cyrillic");
/**** Variables****/
.page {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  background: url("../img/background/wood.jpg");
  background-color: #cc9;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/**** Navigation Block *****/
.nav {
  background: #09c;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__link {
  display: block;
  padding: 20px 15px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.nav__link:hover {
  background: #0086b3;
}

.logo {
  height: 50px;
}

/**** Main ****/
.main {
  font-family: 'Lobster', cursive;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: url("../img/background/old.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  border-top: 1px solid #333;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.main__title {
  padding: 10px 10px;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.main__subtitle {
  padding: 10px 10px;
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

/**** People ****/
.people {
  position: relative;
  border-top: 1px solid #333;
  padding-top: 10px;
  min-height: 100vh;
  background-color: #fff;
  background: url("../img/background/final.jpg") no-repeat center;
  background-size: cover;
}

.people__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.people::before {
  position: absolute;
  content: "";
  top: 500px;
  left: -160px;
  background: url("../img/photography/photo1.png");
  width: 255px;
  height: 300px;
  z-index: -2;
}

.people::after {
  position: absolute;
  content: "";
  top: 150px;
  right: -150px;
  background: url("../img/photography/photo.png");
  width: 199px;
  height: 353px;
  z-index: -2;
}

.people__title {
  position: relative;
  font-family: 'Lobster', cursive;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.human-card {
  width: 256px;
  height: 256px;
  border: 1px solid #333;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.human-card:hover .human-card__link {
  opacity: 1;
}

.human-card:hover::after {
  opacity: 0.8;
}

.human-card::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 256px;
  width: 256px;
  background: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.human-card__link {
  font-family: 'Lobster', cursive;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-decoration: none;
  z-index: 5;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.human-article {
  display: none;
  padding-bottom: 20px;
}

.human-article__title {
  padding: 10px 20px;
  display: inline-block;
  margin: 20px 20px 0px 20px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fff;
  background-color: #996;
}

.human-article__description {
  position: relative;
  padding: 20px;
  margin: 0 20px;
  clear: both;
  line-height: 18px;
  border: 1px solid #333;
  background: url("../img/tiles/paper-small.jpg") repeat;
}

.human-article__photo {
  float: left;
  padding-right: 10px;
}

/********************************Service Classes /******************************** */
.content-show {
  display: block;
  -webkit-animation-name: show_double;
          animation-name: show_double;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

/********************************Service Classes /******************************** */
@-webkit-keyframes show_double {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes show_double {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/**** Attractions ****/
.attractions {
  padding: 20px;
  background: url("../img/background/attractions.jpg") no-repeat center;
  background-size: cover;
}

.attractions__title {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.8rem;
}

.showplace {
  margin-bottom: 20px;
  padding: 20px;
  background: url("../img/tiles/notepad-small.jpg") repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  /********************************Service Classes /********************************/
}

.showplace__figure {
  position: relative;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #777;
  border-radius: 5px;
  background: url("../img/tiles/photopaper-small.jpg") repeat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.showplace__figure:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.showplace__figcaption {
  padding: 5px 10px;
  text-align: center;
}

.showplace__description {
  line-height: 20px;
}

.flex-order {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 0;
  margin-left: 10px;
}

.rotate4 {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.rotate-4 {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

/********************************Service Classes /********************************/
/****History Block ****/
.history {
  padding: 20px;
  height: 1000px;
  background: url("../img/background/history.jpg") no-repeat center;
  background-size: cover;
}

.history__title {
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-size: 1.8rem;
  text-align: center;
}

.history__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.history__photo {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #777;
  overflow: hidden;
  background: #996;
}

.history__photo:hover::after {
  opacity: 0.8;
}

.history__photo:hover .history__description {
  opacity: 1;
}

.history__photo::after {
  position: absolute;
  content: "";
  width: 560px;
  height: 360px;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.history__description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 90%;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  75% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  25% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  75% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=style.css.map */